{erl_first_files, []}.

{cover_enabled, true}.

{erl_opts, [
  fail_on_warning,
	debug_info,
  warn_export_all,
  {parse_transform, lager_transform},
  {lager_truncation_size, 16384}
]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [
  export_all,
  nowarn_untyped_record,
  nowarn_export_all
]}.

{deps_dir, ["deps"]}.
{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{deps,
  [
    {lager,  ".*", {git, "https://github.com/basho/lager.git",           "master"}},
    {uuid,   ".*", {git, "https://github.com/avtobiff/erlang-uuid.git",  "master"}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git",          "master"}}
  ]}.
