%% -*- mode: Erlang; -*-
[
  {fbtz, [
    {max_n_value, 1000000000},
    {numbers_per_second, 3000}
  ]},
  {eredis, [
    {connect, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 1},
      {password, ""}
    ]},
    {connect_test, [
      {host, "127.0.0.1"},
      {port, 6379},
      {database, 2},
      {password, ""}
    ]},
    {queue_key, queue_key},
    {result_set_key, result_set_key}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/request.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]},
    {colored, true},
    {error_logger_hwm, 20}
  ]}
].
